{% extends 'stocks/base.html' %}

{% block title %}Detalle del Producto{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Detalle del Producto
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre_del_producto }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Categoria: {{ producto.categoria }}</h6>
                        <p class="card-text">Precio: {{ producto.precio  }}</p>
                        <p class="card-text">Código: {{ producto.codigo }}</p>
                        <p class="card-text">Descripción: {{ producto.descripcion }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'product-list' %}" class="btn btn-success">Volver a todos los productos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
